main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

main > div {
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    margin-left: 30px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 129px;
    height: 193px;
}